<table>
  <%= render "shared/thead" %>
  <tbody>
    <% artists.each_with_index do |artist, index| %>
    <% if index == 179 %>
      <tr data-controller="infinite-scroll"
          data-page="<%= params[:page].presence || 1 %>">
    <% else %>
      <tr>
    <% end %>
        <td><%= index.next + page_offset %></td>
        <td class="max-w-12">
          <%= link_to artist.name, artist_path(artist) %>
        </td>
        <td class="text-right"><%= artist.plays_count %></td>
        <td class="text-right">
          <%= format_duration_in_words artist.duration %>
        </td>
        <td><%= artist.first_played_at[..9] %></td>
        <td><%= artist.last_played_at[..9] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
