<%# locals: (search_fields:) %>

<%= form_with url: request.path, method: :get, class: :filters do |f| %>
  <%= f.hidden_field :sort, value: params[:sort] %>
  <%= f.hidden_field :dir, value: params[:dir] %>

  <div>
    <%= f.label :since %>
    <%= f.date_field :since, value: params[:since] || Rails.application.config.x.date_range.begin %>
  </div>
  <div>
    <%= f.label :until %>
    <%= f.date_field :until, value: params[:until] || Rails.application.config.x.date_range.end %>
  </div>

  <% search_fields.each do |name| %>
    <div>
      <%= f.label name, t("columns.#{name}") %>
      <%= f.text_field name, value: params[name] %>
    </div>
  <% end %>

  <%= f.submit t("helpers.button.search"), name: nil %>
<% end %>
