<h1><%= t "stats.title" %></h1>
<table>
  <tbody>
    <tr>
      <th><%= t "titles.artists" %></th>
      <td class="text-right"><%= Artist.count %></td>
    </tr>
    <tr>
      <th><%= t "titles.songs" %></th>
      <td class="text-right"><%= Song.count %></td>
    </tr>
    <tr>
      <th><%= t "titles.plays" %></th>
      <td class="text-right"><%= @plays_count %></td>
    </tr>
    <tr>
      <th><%= t "columns.plays_length" %></th>
      <td class="text-right"><%= duration_in_words Play.sum :ms_played %></td>
    </tr>
  </tbody>
</table>

<h2><%= t "titles.pages" %></h2>
<table>
  <tbody>
    <% @paths.each do |path| %>
      <tr><td><%= link_to path, path %></td></tr>
    <% end %>
  </tbody>
</table>
